<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
    
    <title>Add students</title>
</head>
<body>
    <form action="/book" method="POST" class="flex flex-col gap-4 border mt-12 w-[70%] mx-auto p-5 ">
        <input type="text" class="border border-gray-500" placeholder="Add Book Name" name="name">
        <input type="text" class="border border-gray-500" placeholder="Add Book Title" name="title">
        <input type="text" class="border border-gray-500" placeholder="Add Book Author" name="author">
        <button class="border border-blue-500 w-[40%] hover:bg-blue-300 hover:text-white" type="submit">Add Book</button>
    </form>
</body>
</html>